* {
    margin:0;
    padding: 0;
}

header {
    height: 40vh;
    width: 100vw;
    background:url('assets/images/especiarias.jpg.jpeg');
    background-repeat: no repeat;
    background-size: cover;
    padding: 40px;
  
}

h1 {
    height: 150px;
    font-size:80px;
    font-family: "Parisienne", cursive;
    color:white;
 
}

.caixa {
    position: relative;
    width: 940px;
    margin:0 auto;
   
}

nav {

    position: absolute;
    top:140px;
    right: 0;
}

nav li {

    display:inline;
    margin:0 0 0 20px;
}

nav a {

    text-transform:uppercase;
    color: white;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
nav a:hover {

    color: #19c722;
    text-decoration: underline;
}

.titulocentralizado {
    text-align: center;
    color: #000000;
    font-family: "Parisienne", cursive;
    font-size: 40px;
    padding: 20px;
}

.principal {
    margin: 5%;
    padding: 0;
    
}
.missão {

    text-align: center;
    font-size: 20px;
    color: #19c722;
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
}

.descrição {

    font-size: 20px;
    padding: 15px;
    margin: 30px;
}

.planodefundo {
    height: 100vh;
    width: 40vw;
    background: url('assets/images/pesos.600.jpg.jpg');
    border-radius: 20px;
    background-repeat: no repeat;
    background-size: cover;
    margin-left: 400px;
}
.itens {
    display: inline-block;
    margin: 200px;
    font-family: 'Gentium Basic', serif;
    font-size: 17px;
    color: #0d6447;
    font-weight: bold;
    padding-top: 80px;
    

}

.imagemfruta {
    float: right;
    height: 80vh;
    width: 40vw;
    
}


footer {
    

    height: 30vh;
    width: 100vw;
    background:url('assets/images/rodape1500.jpg');
    background-repeat: no repeat;
    background-size: cover;
    padding: 0;
    margin: 50px 0 0 0;
   
    

}

.copyright {
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}
